@model int

@{
    ViewData["Title"] = "ZachsConversion";
}

<div class="row"></div>
<div class="col" style="background-color:deepskyblue;font-size:48px">&nbsp;</div>
<div class="page-header">
    <h1>Unit Conversions</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="col1" class="col-sm-2">&nbsp;</div>
        <div id="col2" class="col-sm-2">&nbsp;</div>
        <div id="col3" class="col-sm-2">&nbsp;</div>
        <div id="col4" class="col-sm-2">&nbsp;</div>
        <div id="col5" class="col-sm-2">&nbsp;</div>
        <div id="col6" class="col-sm-2">&nbsp;</div>
    </div>
    <div class="row">
        <div id="tabs" class="col-lg-2">
            @Html.ActionLink("Home", "Index", "UnitConverter", null, new { @class = "btn btn-primary btn-block" })
            @Html.ActionLink("BillysConverter", "BillysConversion", "UnitConverter", null, new { @class = "btn btn-primary btn-block" })
            @Html.ActionLink("Human to Dog Years", "EmilysConversion", "UnitConverter", null, new { @class = "btn btn-primary btn-block" })
            @Html.ActionLink("Celsius to Kalvin", "KevinsConversion", "UnitConverter", null, new { @class = "btn btn-primary btn-block" })
            @Html.ActionLink("Centimeters to Meters", "ThomasConversion", "UnitConverter", null, new { @class = "btn btn-primary btn-block" })
            @Html.ActionLink("Military to 24 Hour Time", "ZachsConversion", "UnitConverter", null, new { @class = "btn btn-primary btn-block" })
        </div>
        <div class="col-lg-2" height="100vh">
            <h2>Military to 24 Hour Time</h2>
            <div id="app">
                <input v-model="inputValue" v-on:keyup="conversion" placeholder="#AM" />
                <p>Conversion: {{outputValue}} {{amOrPm}}</p>
            </div>
        </div>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            inputValue: "",
            outputValue: "",
            amOrPm: " AM"
        },
        methods: {
            conversion: function () {
                if (this.inputValue > 24 || this.inputValue < 1) {
                    this.outputValue = "Invalid Time";
                    this.amOrPm = "";
                }
                else if (this.inputValue > 12) {
                    this.outputValue = String(Number(this.inputValue) - 12);
                    this.amOrPm = " PM";
                }
                else if (this.inputValue == 0) {
                    this.outputValue = "12";
                    this.amOrPm = " PM";
                }
                else {
                    this.outputValue = this.inputValue;
                    this.amOrPm = " AM";
                }
            }
        }
    })
</script>
